#svg_as_paper {
  border: 1px solid #ccc;
}
/*----------------------------------------------------------------------------*/
/* colors */
/*----------------------------------------------------------------------------*/
.sk-color-lightgreen {
  stroke:#7BD148;
  fill:#7BD148;
}
.sk-color-lightblue {
  stroke:#b1c9ed;
  fill:#b1c9ed;
}
/*----------------------------------------------------------------------------*/
/* other else */
/*----------------------------------------------------------------------------*/
.sk-stroke {
  fill: none;
  stroke-width:6;
}
.sk-marker {
  stroke:none;
}
